#intro {
    height: 100vh;
}

.intro-btn {
    outline: none !important;
    box-shadow: none !important;
    white-space: nowrap;
    border-radius: 2.5px !important;
    transition: all 0.35s ease-in-out;
}

.my-arrow {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .35s ease-in-out;
    margin-left: 3%;
}

.intro-btn:hover > .my-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1.5s ease-in-out 0.25s both;
	animation: fade-in-fwd 1.5s ease-in-out 0.25s both;
}

.fade-in-fwd-btn {
	-webkit-animation: fade-in-fwd 1.5s ease-in-out 0.5s both;
	animation: fade-in-fwd 1.5s ease-in-out 0.5s both;
}

.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s ease-in-out both;
	animation: shadow-drop-2-center 0.4s ease-in-out both;
}

@media screen and (max-width: 576px) {
    .intro-h1 {
        font-size: 1.5rem;
    }
    .intro-btn {
        margin-top: 1rem !important;
    }
}