#projects {
  background-color: #1c1e21;
  min-height: 100%;
}

.project-col {
  min-height: 25rem;
}

.project-div {
  overflow: hidden;
}

.project-image {
  object-fit: cover;
}

.project-info-div {
  z-index: 99;
  background-color: #282c34;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.project-div:hover > .project-info-div {
  opacity: .9;
}

.project-div:hover > .project-image {
  -webkit-animation: background-pan 5s ease-out both;
	animation: background-pan 5s ease-out both;
}

.project-desc {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.learn-more-btn {
  border-radius: 50% !important;
}

.project-modal-content {
  background-color: #282c34;
}

.project-modal-button {
  border-radius: 2.5px;
}

@media screen and (max-width: 576px) {
  .project-col {
    min-height: 22.5rem;
  }
}  