#intro {
    height: 100vh;
}

.intro-profile-pic {
    height: auto;
    width: 14rem;
    object-fit: contain;
    border-radius: 50%;
    border: 0.3rem solid #17a2b8;
}

.intro-btn {
    outline: none !important;
    box-shadow: none !important;
    white-space: nowrap;
    border-radius: 2.5px !important;
    transition: all 0.35s ease-in-out;
}

.my-arrow {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .35s ease-in-out;
    margin-left: 3%;
}

.intro-btn:hover > .my-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.my-link {
    text-decoration: underline;
    color: #17a2b8 !important;
}

.my-link:hover,
.my-link:active,
.my-link:focus {
    color: #17a2b8 !important;
}

.fade-in-fwd-profile-pic {
	-webkit-animation: fade-in-fwd 1.5s ease-in-out 0.25s both;
	animation: fade-in-fwd 1.5s ease-in-out 0.25s both;
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1.5s ease-in-out 0.5s both;
	animation: fade-in-fwd 1.5s ease-in-out 0.5s both;
}

.fade-in-fwd-2nd {
    -webkit-animation: fade-in-fwd 1.5s ease-in-out 0.75s both;
	animation: fade-in-fwd 1.5s ease-in-out 0.75s both;
}

.fade-in-fwd-btn {
	-webkit-animation: fade-in-fwd 1.5s ease-in-out 1s both;
	animation: fade-in-fwd 1.5s ease-in-out 1s both;
}

.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s ease-in-out both;
	animation: shadow-drop-2-center 0.4s ease-in-out both;
}

@media screen and (max-width: 576px) {
    .intro-profile-pic {
        width: 10rem;
        border: 0.2rem solid #17a2b8;
    }
    .intro-h1 {
        font-size: 1.25rem;
    }
    .intro-h3 {
        font-size: 1rem;
    }
    .intro-btn {
        font-size: .75rem;
    }
}  