.my-icon {
  transition: all .1s ease-in-out;
}

.my-icon:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: none !important;
}

.fade-in-fwd-footer {
	-webkit-animation: fade-in-fwd 1.25s ease-in-out 0.25s both;
	animation: fade-in-fwd 1.25s ease-in-out 0.25s both;
}

.fade-in-fwd-icons {
	-webkit-animation: fade-in-fwd 1.25s ease-in-out 0.5s both;
	animation: fade-in-fwd 1.25s ease-in-out 0.5s both;
}

.fade-in-fwd-copyright {
	-webkit-animation: fade-in-fwd 1.25s ease-in-out 0.75s both;
	animation: fade-in-fwd 1.25s ease-in-out 0.75s both;
}