#footer {
    background-color: #000000;
}

@media screen and (min-width: 576px) {
    #footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}  